/* Konfigurasi Font Inter */
body {
  font-family: "Inter", sans-serif;
  background-color: #10cf23;
}

/* Style kustom untuk Ikon WhatsApp (agar terlihat seperti ikon SVG) */
.whatsapp-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  /* SVG untuk Ikon WhatsApp */
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M380.9 97.1C339.4 55.4 286.3 32 224 32c-63.7 0-116.8 23.4-158.3 65.1-41.4 41.7-64.8 94.9-64.8 158.9 0 46.4 13.9 89.2 41.7 127.8l-29.3 108.7 111.4-29.3c35.2 19.3 75.2 29.3 115.4 29.3 62.4 0 115.4-23.4 158.3-65.1 41.4-41.7 64.8-94.9 64.8-158.9 0-64-23.4-117.2-64.8-158.9zM224 430.2c-40.4 0-78.6-11.7-111.7-33.8l-8.2-5.4-83 21.8 22.3-81.5-5.4-8.4c-22.1-33.1-33.8-71.3-33.8-111.7 0-51 18.5-98.9 52.8-133.2 34.3-34.3 82.2-52.8 133.2-52.8 51 0 98.9 18.5 133.2 52.8 34.3 34.3 52.8 82.2 52.8 133.2s-18.5 98.9-52.8 133.2c-34.3 34.3-82.2 52.8-133.2 52.8zM343.8 300c-7.2-3.6-43.2-21.2-49.8-23.6-6.6-2.4-11.4-3.6-16.2 3.6-4.8 7.2-18.6 23.6-22.8 28.4-4.2 4.8-8.4 5.4-15.6 1.8-7.2-3.6-30.6-11.4-58-35.8-21.6-19.2-36.2-43-38.6-47.2-2.4-4.8-.2-7.4 1.6-9.2 1.6-1.6 3.6-4.2 5.4-6.6 2.4-2.4 3.2-4.2 4.8-6.6s1.8-4.2 2.8-6.6c1.2-2.4 0-4.8-.6-6.6-1.2-1.8-11.4-27.4-15.6-37.4-4.2-10-8.4-8.6-11.4-8.6-3 0-6-0.4-8.4-0.4s-6-0.6-9.2 3-13.2 6.6-16.2 16.2c-3 9.6-1.2 28.2 3 37.8s10 18.6 20.6 31.8c10.6 13.2 24.2 22.8 39.8 30.6 15.6 7.8 27.2 10.4 36.8 12.6 9.6 2.4 20.6 2 28.2 1.2 8.4-1 25.8-10.6 29.4-19.8 3.6-9.2 3.6-17 2.4-19.8z"/></svg>')
    no-repeat center center;
  mask-size: contain;
}

/* Anda perlu memastikan path SVG di atas valid dan tidak terblokir oleh browser/server */
